<h1>Sign Up Below</h1>

<form action="<% users_url %>" method="post">
  <label>Email:</label>
  <input type="text" name="user[email]" value="">
  <br>
  <label>Password:</label>
  <input type="text" name="user[password]" value="">
  <br>
  <input type="submit" value="Get Music Access Now!">
</form>
